
<div class='status-panel'>
   <div class='timer'>
      <span class='timer-content'>timer</span>
   </div>
   <div class='login' *ngIf="isAuthorized == false">
      <button class='btn' (click)='openLoginDialog()'>Login</button>
      <button class='btn' (click)='openRegisterForm()'>Register</button>
   </div>
   <div class=game-entry *ngIf="isAuthorized == true">
      <button class='btn' (click)='openGameList()'>Play</button>
      <span>{{user?.name}}</span>
      <button class='btn' (click)='logout()'>Logout</button>
   </div>
</div>
