
<div class='user-statistic'>
	<div class='wraper'>
		<div class='work-tools'>
      <app-work-tool class="work-tool"></app-work-tool>
      <app-work-tool class="work-tool"></app-work-tool>
      <app-work-tool class="work-tool"></app-work-tool>
   </div>
   <div class='wraper2'>
      <ul class='list'>
         <li>
            <span class='text' >Food</span> x <span class='amount'>{{player.food}} </span>   
            <button type='button' class='btn btn-sm' (click)="countResource('food', 2)" data-name='food' [disabled]='isDisabled.food'>Count</button>
         </li>
         <li>
            <span class='text'>Wood</span> x <span class='amount'>{{player.wood}} </span>
            <button type='button' class='btn btn-sm' (click)="countResource('wood', 3)" data-name='wood' [disabled]='isDisabled.wood'>Count</button>
         </li>
         <li>
            <span class='text'>Clay</span> x <span class='amount'>{{player.clay}} </span>
            <button type='button' class='btn btn-sm' (click)="countResource('clay', 4)" data-name='clay' [disabled]='isDisabled.clay'>Count</button>
         </li>
         <li>
            <span class='text'>Stone</span> x <span class='amount'>{{player.stone}} </span>
            <button type='button' class='btn btn-sm' (click)="countResource('stone', 5)" data-name='stone' [disabled]='isDisabled.stone'>Count</button>
         </li>
         <li>
            <span class='text'>Gold</span> x <span class='amount'>{{player.gold}} </span>
            <button type='button' class='btn btn-sm' (click)="countResource('gold', 6)" data-name='gold' [disabled]='isDisabled.gold'>Count</button>
         </li>
         <li>
            <span class='text'>Population</span> x <span class='amount'>{{player.population}} </span>
            <button type='button' class='btn btn-sm' [disabled]='isDisabled.population' data-name='population' (click)="countResource('population', null)">Count</button>
         </li>
         <li>
            <span class='text'>Agronomy</span> x <span class='amount'>{{player.agronomy}} </span>
            <button type='button' class='btn btn-sm' [disabled]='isDisabled.agronomy' data-name='agronomy' (click)="countResource('agronomy', null)">Count</button>
         </li>
         <li>
            <span class='text'>Work tools</span> x <span class='amount'>{{player.smithy}} </span>
            <button type='button' class='btn btn-sm' [disabled]='isDisabled.smithy' data-name='smithy' (click)="countResource('smithy', null)">Count</button>
         </li>
      </ul>
      <button class='btn btn-outline-primary btn-sm' (click)='sendChanges()'>Feed people</button>
   </div>
   <div class='civilization-cards'>
      <app-civilization-card></app-civilization-card>
   </div>
	</div>
   <div class='dwellings'>
      <app-dwelling></app-dwelling>
      <app-dwelling></app-dwelling>
      <app-dwelling></app-dwelling>
      <app-dwelling></app-dwelling>
      <app-dwelling></app-dwelling>
   </div>
</div>
