
.chat {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-flow: column;
   position: relative;
   z-index: 3;
}

.chat-panel {
   display: flex;
   flex-flow: row nowrap;
}

.text-area {
   width: 100%;
}