<div class='resource'>
   <span class='resource-kind'></span>
   <div class='options'>
         <img class='human-place' src="../../../../assets/empty.svg">
         <img class='human-place' src="../../../../assets/empty.svg">
         <img class='human-place' src="../../../../assets/empty.svg">
         <img class='human-place' src="../../../../assets/empty.svg">
         <img class='human-place' src="../../../../assets/empty.svg">
         <img class='human-place' src="../../../../assets/empty.svg">
         <img class='human-place' src="../../../../assets/empty.svg">
   </div>
</div>
