
.human-work {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   width: 400px;
   padding: 10px;
   float: left;
   position: relative;
   z-index: 1;
}

.phase {
   z-index: 3;
   background-color: #fff;
}